<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon.ico" />
    <title><%= title %></title>
    <meta
      name="description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta
      property="og:description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
    <% if (locals.tags == "posts") { %>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="<%= date.toISOString() %>" />
    <script type="application/ld+json">
      {
        "description": "<%= (!!locals.description) ? description : site.description %>",
        "author": { "@type": "Person", "name": "<%= site.author %>" },
        "@type": "BlogPosting",
        "url": "<%= `${site.url}${page.url}` %>",
        "publisher": {
          "@type": "Organization",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= `${site.url}/assets/images/logo.png` %>"
          },
          "name": "<%= site.author %>"
        },
        "headline": "<%= title %>",
        "datePublished": "<%= date.toISOString() %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= `${site.url}${page.url}` %>"
        },
        "@context": "http://schema.org"
      }
    </script>
    <% } %><%- include('webpack.ejs') %>

  </head>
  <body>
    <section>
      <header>
        <nav>
          <h1><%= site.title %></h1>
          <h2><%= site.description %></h2>
        </nav>
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href=".">about</a></li>
            <li><a href=".">talks</a></li>
            <li><a href=".">lectures</a></li>
          </ul>
        </nav>
      </header>
        <!-- <figure>
          <img src="./tacit_logo.png" alt="tacit logo" style="max-height: 100px;"/>
        </figure> -->
        
      <%- content %>
      
      <footer>
        <nav>
          <ul>
            <li>
              <small>Made by <a href="http://www.yegor256.com">Yegor Bugayenko</a>, 2015-2021</small>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><small><a href="https://github.com/yegor256/tacit">GitHub</a></small></li>
            <li><small><a href="https://yegor256.github.io/tacit/tacit-css-VERSION.min.css">Download</a></small></li>
            <li><small><a href="https://opensource.org/licenses/MIT">MIT license</a></small></li>
          </ul>
        </nav>
      </footer>
    </section>
  </body>
</html>