---
pagination:
  data: collections.all
  size: 5
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<dl>
  <% list.forEach((post) => { %>
  <dt>
    <a href="<%= post.url %>"><%= post.data.title %></a>
  </dt>
  <dd>
    <%= this.dateFns.format(new Date(post.data.date), 'LLLL d, yyyy') %>
  </dd>
  <% }) %>
</dl>

<div>
  <% if (pagination.previous) { %>
  <div>
    <a href="<%= pagination.previous.replace(/index.html$/, "") %>">← Newer Posts</a>
  </div>
  <% } %> <% if (pagination.next) { %>
  <div>
    <a href="<%= pagination.next.replace(/index.html$/, "") %>">Older Posts →</a>
  </div>
  <% } %>
</div>
